@import 'tailwindcss';

@theme {
  --color-headline-primary-blue-50: #effafc;
  --color-headline-primary-blue-100: #d7f0f6;
  --color-headline-primary-blue-200: #b4e1ed;
  --color-headline-primary-blue-300: #81cadf;
  --color-headline-primary-blue-400: #46aaca;
  --color-headline-primary-blue-500: #2b8eaf;
  --color-headline-primary-blue-600: #267294;
  --color-headline-primary-blue-700: #255e79;
  --color-headline-primary-blue-800: #264e64;
  --color-headline-primary-blue-900: #244356;
  --color-headline-primary-blue-950: #132a39;

  --color-cta-primary-blue-50: #f0fbfb;
  --color-cta-primary-blue-100: #d9f3f4;
  --color-cta-primary-blue-200: #b8e7e9;
  --color-cta-primary-blue-300: #87d5d9;
  --color-cta-primary-blue-400: #4fb9c1;
  --color-cta-primary-blue-500: #339da7;
  --color-cta-primary-blue-600: #2d808d;
  --color-cta-primary-blue-700: #2a6874;
  --color-cta-primary-blue-800: #2a5660;
  --color-cta-primary-blue-900: #274952;
  --color-cta-primary-blue-950: #152f37;

  --color-grey-primary-50: #f9f9f9;
  --color-grey-primary-100: #efefef;
  --color-grey-primary-200: #dcdcdc;
  --color-grey-primary-300: #bdbdbd;
  --color-grey-primary-400: #989898;
  --color-grey-primary-500: #7c7c7c;
  --color-grey-primary-600: #656565;
  --color-grey-primary-700: #525252;
  --color-grey-primary-800: #464646;
  --color-grey-primary-900: #3d3d3d;
  --color-grey-primary-950: #292929;

  --color-red-50: initial;
  --color-red-100: initial;
  --color-red-200: initial;
  --color-red-300: initial;
  --color-red-400: initial;
  --color-red-500: initial;
  --color-red-600: initial;
  --color-red-700: initial;
  --color-red-800: initial;
  --color-red-900: initial;
  --color-red-950: initial;
  --color-orange-50: initial;
  --color-orange-100: initial;
  --color-orange-200: initial;
  --color-orange-300: initial;
  --color-orange-400: initial;
  --color-orange-500: initial;
  --color-orange-600: initial;
  --color-orange-700: initial;
  --color-orange-800: initial;
  --color-orange-900: initial;
  --color-orange-950: initial;
  --color-amber-50: initial;
  --color-amber-100: initial;
  --color-amber-200: initial;
  --color-amber-300: initial;
  --color-amber-400: initial;
  --color-amber-500: initial;
  --color-amber-600: initial;
  --color-amber-700: initial;
  --color-amber-800: initial;
  --color-amber-900: initial;
  --color-amber-950: initial;
  --color-yellow-50: initial;
  --color-yellow-100: initial;
  --color-yellow-200: initial;
  --color-yellow-300: initial;
  --color-yellow-400: initial;
  --color-yellow-500: initial;
  --color-yellow-600: initial;
  --color-yellow-700: initial;
  --color-yellow-800: initial;
  --color-yellow-900: initial;
  --color-yellow-950: initial;
  --color-lime-50: initial;
  --color-lime-100: initial;
  --color-lime-200: initial;
  --color-lime-300: initial;
  --color-lime-400: initial;
  --color-lime-500: initial;
  --color-lime-600: initial;
  --color-lime-700: initial;
  --color-lime-800: initial;
  --color-lime-900: initial;
  --color-lime-950: initial;
  --color-green-50: initial;
  --color-green-100: initial;
  --color-green-200: initial;
  --color-green-300: initial;
  --color-green-400: initial;
  --color-green-500: initial;
  --color-green-600: initial;
  --color-green-700: initial;
  --color-green-800: initial;
  --color-green-900: initial;
  --color-green-950: initial;
  --color-emerald-50: initial;
  --color-emerald-100: initial;
  --color-emerald-200: initial;
  --color-emerald-300: initial;
  --color-emerald-400: initial;
  --color-emerald-500: initial;
  --color-emerald-600: initial;
  --color-emerald-700: initial;
  --color-emerald-800: initial;
  --color-emerald-900: initial;
  --color-emerald-950: initial;
  --color-teal-50: initial;
  --color-teal-100: initial;
  --color-teal-200: initial;
  --color-teal-300: initial;
  --color-teal-400: initial;
  --color-teal-500: initial;
  --color-teal-600: initial;
  --color-teal-700: initial;
  --color-teal-800: initial;
  --color-teal-900: initial;
  --color-teal-950: initial;
  --color-cyan-50: initial;
  --color-cyan-100: initial;
  --color-cyan-200: initial;
  --color-cyan-300: initial;
  --color-cyan-400: initial;
  --color-cyan-500: initial;
  --color-cyan-600: initial;
  --color-cyan-700: initial;
  --color-cyan-800: initial;
  --color-cyan-900: initial;
  --color-cyan-950: initial;
  --color-sky-50: initial;
  --color-sky-100: initial;
  --color-sky-200: initial;
  --color-sky-300: initial;
  --color-sky-400: initial;
  --color-sky-500: initial;
  --color-sky-600: initial;
  --color-sky-700: initial;
  --color-sky-800: initial;
  --color-sky-900: initial;
  --color-sky-950: initial;
  --color-blue-50: initial;
  --color-blue-100: initial;
  --color-blue-200: initial;
  --color-blue-300: initial;
  --color-blue-400: initial;
  --color-blue-500: initial;
  --color-blue-600: initial;
  --color-blue-700: initial;
  --color-blue-800: initial;
  --color-blue-900: initial;
  --color-blue-950: initial;
  --color-indigo-50: initial;
  --color-indigo-100: initial;
  --color-indigo-200: initial;
  --color-indigo-300: initial;
  --color-indigo-400: initial;
  --color-indigo-500: initial;
  --color-indigo-600: initial;
  --color-indigo-700: initial;
  --color-indigo-800: initial;
  --color-indigo-900: initial;
  --color-indigo-950: initial;
  --color-violet-50: initial;
  --color-violet-100: initial;
  --color-violet-200: initial;
  --color-violet-300: initial;
  --color-violet-400: initial;
  --color-violet-500: initial;
  --color-violet-600: initial;
  --color-violet-700: initial;
  --color-violet-800: initial;
  --color-violet-900: initial;
  --color-violet-950: initial;
  --color-purple-50: initial;
  --color-purple-100: initial;
  --color-purple-200: initial;
  --color-purple-300: initial;
  --color-purple-400: initial;
  --color-purple-500: initial;
  --color-purple-600: initial;
  --color-purple-700: initial;
  --color-purple-800: initial;
  --color-purple-900: initial;
  --color-purple-950: initial;
  --color-fuchsia-50: initial;
  --color-fuchsia-100: initial;
  --color-fuchsia-200: initial;
  --color-fuchsia-300: initial;
  --color-fuchsia-400: initial;
  --color-fuchsia-500: initial;
  --color-fuchsia-600: initial;
  --color-fuchsia-700: initial;
  --color-fuchsia-800: initial;
  --color-fuchsia-900: initial;
  --color-fuchsia-950: initial;
  --color-pink-50: initial;
  --color-pink-100: initial;
  --color-pink-200: initial;
  --color-pink-300: initial;
  --color-pink-400: initial;
  --color-pink-500: initial;
  --color-pink-600: initial;
  --color-pink-700: initial;
  --color-pink-800: initial;
  --color-pink-900: initial;
  --color-pink-950: initial;
  --color-rose-50: initial;
  --color-rose-100: initial;
  --color-rose-200: initial;
  --color-rose-300: initial;
  --color-rose-400: initial;
  --color-rose-500: initial;
  --color-rose-600: initial;
  --color-rose-700: initial;
  --color-rose-800: initial;
  --color-rose-900: initial;
  --color-rose-950: initial;
  --color-slate-50: initial;
  --color-slate-100: initial;
  --color-slate-200: initial;
  --color-slate-300: initial;
  --color-slate-400: initial;
  --color-slate-500: initial;
  --color-slate-600: initial;
  --color-slate-700: initial;
  --color-slate-800: initial;
  --color-slate-900: initial;
  --color-slate-950: initial;
  --color-gray-50: initial;
  --color-gray-100: initial;
  --color-gray-200: initial;
  --color-gray-300: initial;
  --color-gray-400: initial;
  --color-gray-500: initial;
  --color-gray-600: initial;
  --color-gray-700: initial;
  --color-gray-800: initial;
  --color-gray-900: initial;
  --color-gray-950: initial;
  --color-zinc-50: initial;
  --color-zinc-100: initial;
  --color-zinc-200: initial;
  --color-zinc-300: initial;
  --color-zinc-400: initial;
  --color-zinc-500: initial;
  --color-zinc-600: initial;
  --color-zinc-700: initial;
  --color-zinc-800: initial;
  --color-zinc-900: initial;
  --color-zinc-950: initial;
  --color-neutral-50: initial;
  --color-neutral-100: initial;
  --color-neutral-200: initial;
  --color-neutral-300: initial;
  --color-neutral-400: initial;
  --color-neutral-500: initial;
  --color-neutral-600: initial;
  --color-neutral-700: initial;
  --color-neutral-800: initial;
  --color-neutral-900: initial;
  --color-neutral-950: initial;
  --color-stone-50: initial;
  --color-stone-100: initial;
  --color-stone-200: initial;
  --color-stone-300: initial;
  --color-stone-400: initial;
  --color-stone-500: initial;
  --color-stone-600: initial;
  --color-stone-700: initial;
  --color-stone-800: initial;
  --color-stone-900: initial;
  --color-stone-950: initial;
}
